<app-header></app-header>
 <!-- show  message if -->
 <div *ngIf="error" class="alert alert-dismissible fade show" style="background-color: #ef4646;" role="alert">
    <strong>deleted</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table class="table table-success table-striped table-bordered border-11 mt-5">
    <thead>
        <tr>
            <th>Car's Details</th>
            <th>Booking Date</th>
            <th>Return Date</th>
            <th>Is Returned</th>
            <th>Request For Return</th>
            <th>Total Cost</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        <tr  *ngFor="let agreement of rentalAgreements">
            <td><button  (click)="showcar(agreement.vehicle_Id)" class="btn btn-outline-primary">Details</button></td>
           
            <td>{{ agreement.bookingDate | date}}</td>
            <td>{{ agreement.returnDate | date}}</td>
            <td>{{ agreement.isReturned }}</td>
            <td>{{ agreement.requestForReturn}}</td>
        
            <td>
                <!-- Find the matching xValue based on vehicle_Id -->
                <ng-container *ngFor="let entry of xValuesArray">
                  <span *ngIf="entry.rentalAgreementId===agreement.rentalAgreementId">{{ entry.xValue }}</span>
                </ng-container>
              </td>
            <td>
                <a (click)="editRentalAgreement(agreement.rentalAgreementId)">
                    <i class="fa fa-pencil" aria-hidden="true" style='font-size:24px;color:#3300ff'></i>
                </a>
                <i (click)="deleteCarRental(agreement.rentalAgreementId)" class="fa fa-trash w3-padding w3-xlarge w3-text-red" style="margin-left: 13px; font-size:24px; ">
                </i>
            </td>
            <td>
                <button *ngIf="!RequestForReturn(agreement)" (click)="updateRequestForReturn(agreement)" class="attractive-button">Request For Return</button>
            </td>
        </tr>
    </tbody>
</table>

